
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
}

header img {
    width: 15em;
}

header p {
    font-size: 0.5em;
    margin: 0.5em;
}

header ul {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

header ul li {
    padding: 0.8em 1.6em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50% 2.5em;
}

header ul li:hover {
    transform: scale(1.1); 
    box-shadow: 0 5px 5px var(--text-nav-color); 
    animation: border-radius-animation 2s ease-in-out infinite alternate-reverse; 
}

header a {
    font-weight: bold;
    font-size: 1em;
    color: var(--text-nav-color);
}


@keyframes border-radius-animation {
    0% {
        border-radius: 50% 2.5em;
    }
    100% {
        border-radius: 2.5em 50%;
    }
}

@media(max-width: 768px) {
header img {
    width: 10em;
}
header ul li {
    padding: 0.4em 0.8em;
    border-radius: 50% 2.5em;
}
header a {
    font-size: 0.8em;
}
}

@media(max-width: 480px) {
header img {
    width: 7em;
}

header ul li {
    padding: none;
    border-radius: none
}

header ul li:hover {
    box-shadow: none;
    animation: none;
}
header a {
    font-size: 0.6em;
}

}


