.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
}

.headerImg {
  width: 15em;
}

.headerText {
  font-size: 0.5em;
  margin: 0.5em;
}

.headerList {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.headerLinks {
  font-weight: bold;
  font-size: 1em;
  color: var(--text-nav-color);
}

@keyframes border-radius-animation {
  0% {
    border-radius: 50% 2.5em;
  }
  100% {
    border-radius: 2.5em 50%;
  }
}

@media (max-width: 768px) {
  .headerImg {
    width: 10em;
  }
  .headerListItens {
    padding: 0.4em 0.8em;
    border-radius: 50% 2.5em;
  }
  .headerLinks {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .headerImg {
    width: 7em;
  }

  .headerListItens {
    padding: none;
    border-radius: none;
  }

  .headerListItens:hover {
    box-shadow: none;
    animation: none;
  }
  .headerLinks {
    font-size: 0.6em;
  }
}
